.im-q h3{
    font-size: 20px;
    color: aliceblue;
}

.col-md-3 {

margin-top: 5%;
margin: 70px;
padding: 205px;
}


.card{
    background-color: rgb(255, 255, 255);
 box-shadow: 0 10px 25px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
margin: 5%;
justify-content:center;
    justify-content: center;

}

  .card-text{
    font-size: 13px;
    color: rgb(0, 0, 0);
  }
  .card-title{
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  .btn-primary{
 background-color: rgb(155, 78, 226);
  }
.dropdown-item{
  background-color: blueviolet;
}

.dropdown-menu{
  background-color: aquamarine  ;
  color: black;
}
.d-flex{
  font-size: 30px;

  color: rgb(0, 0, 0);
}
.card-img-top{
  border-radius: 20px;

  padding: 20px;
}


