.map h1{
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: aqua;
}
.map{
    align-items: center;
    justify-content: center;
}
.visually-hidden{
    font-size: 20px;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.carousel-item{
    display: inline-block;
}
